// views
$desktop-view: "screen and (min-width: 1079px)"; // any higher is desktop
$tablet-view: "screen and (min-width: 719px)"; // any lower is mobile view

// colours
$white: #fff;
$black: #000;
$blue-contrast: #3a4660;
$header-background: rgb(109, 58, 0);